$salmon-claro: #FAE7E7
$grisAzul-claro: #D8DFE5

.cajon-b.color-acento-contenido
  &::before
    background-color: $salmon-claro !important

.cajon-b:before
  opacity: 1 !important
  top: 0
  left: 0
  width: 35% !important
  height: 4rem !important

.cajon-c
  &::after
    content: ''
    display: block
    position: relative
    bottom: 0
    right: 0
    left: calc( 65% + 1rem)
    width: 35% !important
    height: 4rem !important
    background-color: #D8DFE5
    top: -50px
    mix-blend-mode: multiply

.inicio
  .banner-principal
    .container.tarjeta
      border-radius: 1rem 1rem 1rem 6rem !important

.banner-principal
  .tarjeta
    background-position: center right !important

.banner-principal__img
  img
    padding: 0 4rem  
  
$casi-blanco: #E8E8E8
$cp10: rgba(2,48,85,.1)
$cp20: rgba(2,48,85,.2)
$rosa: #FFD9D9
$grisAzul: #CED2D9

.frosa
  background-color: $rosa

.fGrisAzul
  background-color: $grisAzul

.hrcac
  border-bottom: solid 3px $color-acento-contenido

.cs
  color: $color-secundario

.fcs30
  background-color: rgba(173,20,87,.3)

.fcs
  background-color: $color-secundario

.fcb
  background-color: $casi-blanco

.fcp
  background-color: $color-primario

.fcac
  background-color: $color-acento-contenido

.cac
  color: $color-acento-contenido

.fondodegradado
  background-image: url(../assets/curso/degradado.png)
  background-size: cover

.cuadroRDerecho
  padding: .5rem 1rem
  border-radius: 0 1rem 1rem 0
  font-weight: 700
  
.invertido-bta
  &::before
    right: 50% !important
    left: 0 !important

.bloque-texto-a.color-primario 
  background-color: $casi-blanco

.cajon.color-primario
  background-color: $cp10 !important

.bloque-texto-d.color-primario
  &::before
    background-color: $cp20 !important

@media screen and ( max-width: 640px )
  
  .inicio
    .banner-principal
      .container.tarjeta
        border-radius: 1rem 1rem 1rem 1rem !important

  .noMobile
    display: none

@media screen and ( min-width: 1200px )
  
  .inicio
    .banner-principal
      .container.tarjeta
        border-radius: 1rem 1rem 1rem 6rem !important

  .ofVisible
    overflow: visible
    z-index: 2

  .onlyMobile
    display: none

  .h290px
    height: 290px

@media screen and (min-width: 1400px)
  
  .h290px
    height: 290px

  .tltrBR
    border-radius: 8rem 8rem 0 0

  .traslape1
    margin-left: auto
    margin-right: auto
    .col-lg-8
      position: absolute
      margin-left: 10%
      z-index: 1
      &.ultimolg8
        position: absolute
        margin-left: 22%
        z-index: 1
    .col-lg-3
      position: relative
      margin-top: -18px
    .col-lg-4
      position: relative
      margin-top: -82px


  .traslape2
    margin-left: auto
    margin-right: auto
    .col-lg-8
      position: relative
      margin-left: 10%
      z-index: 1
    .col-lg-3
      position: absolute
      margin-left: 60%

@media (max-width:1399px) and (min-width: 1200px)
  
  h3.mb-4.text-center
    &::after
      margin-bottom: 9rem
      display: block
      content: ''

  .col-lg-8
    p
      margin-bottom: 1rem

  .h290px
    height: 240px

  h4.pt-5
    padding-top: 0 !important

  .tltrBR
    border-radius: 8rem 8rem 0 0

  .fila1
    margin-top: -120px
  
  .penultimaFila
    margin-bottom: 7px

  .traslape1
    margin-left: auto
    margin-right: auto
    .col-lg-8
      position: absolute
      margin-left: 15%
      padding-right: 5%
      z-index: 1
      &.ultimolg8
        position: absolute
        margin-left: 22%
        z-index: 1
    .col-lg-3
      position: relative
      margin-top: -18px
    .col-lg-4
      position: relative
      margin-top: -82px


  .traslape2
    margin-left: auto
    margin-right: auto
    .col-lg-8
      position: relative
      margin-left: 10%
      z-index: 1
    .col-lg-3
      position: absolute
      margin-left: 60%

@media screen and (max-width:991px)
  .traslape2,.traslape1
    .ofVisible
      max-width: 150px
      margin: 1rem auto 0

@media screen and (max-width:1199px)
  .traslape1
    background-color: $rosa

  .traslape2
    background-color: $grisAzul

  .me-5,.ms-5
    margin-left: 0 !important
    margin-right: 0 !important
  
.bullet
  width: 1.2rem
  height: 1rem
  border-radius: 0 .5rem .5rem 0
  margin-left: 1rem
  margin-right: 1rem

.contenedor
  margin-left: -3rem
  margin-right: -3rem
  padding-left: 3rem
  padding-right: 3rem

.bg1
  background-image: url(../assets/curso/bg1.svg)
  background-size: cover

.bg2
  background-image: url(../assets/curso/bg2.svg)
  background-size: cover

.bloque-texto-d
  i
    font-size: 2em !important

@media screen and ( max-width: 991px )
  figure
    margin-left: auto
    margin-right: auto
    max-width: 450px
  